.stock-status {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.status-icon {
    margin-right: 0.5rem;
}

.in-stock {
    color: #28a745;
}

.out-of-stock {
    color: #981421;
}

.warning{
    color: #ffc107;
}

.error {
    color: #ff2407;
}

.disabled {
    background-color: #ccc !important;
    cursor: not-allowed !important;
    opacity: 0.6 !important;
}

.stock-status p{
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}